**/.DS_Store
**/src/main/resources/generated-swagger
*~*
*.bak
*.iml
*.launch
*.log
*.log.*
*.orig
*.swp
*.tmp
*.pyc
*.class
reports/*
**/log*.html
**/report*.html
**/output.xml
.cache/
.classpath
.diff
.DS_Store
.externalToolBuilders/
.factorypath
.idea
.vscode
.loadpath
.metadata
.project
.recommenders
.settings/
.springBeans
.versionsBackup
.python-version
bin/
dependency-reduced-pom.xml
FFDC/
local.properties
output/
runlocal.sh
swagger-diff.zip
target/
tmp/
batchInboundFiles/
venv
robot/reports/url_report.csv
robot/keys.json
robot/venv2/
logback-overrides.xml
*.versionsBackup
out/

# Gradle
.gradle/
build/
!**/src/**/build/
!gradle.properties
!gradle-wrapper.jar

**/*.tgz
**/Chart.lock
/venv2/
